.task{
    color: rgb(5, 107, 5);
    padding: 10px;
    margin: 5px;
    background-color: rgb(58, 246, 58);
    border:5px;
    border-color: black;
    text-decoration: none;
    list-style: none;
}

/* .container{

    border-radius: 5px;
    border: black;
    border: 2px;
    background-color: rgb(175, 173, 173);
    width: max-content;
    height: max-content;
    display: flex;
    margin: auto;
    

} */

ul{
    
}

li{
    margin: auto;
    
}

.titulo{
    margin: auto;
    margin-bottom: 30px;
    

}

.titulo h1{
    font-size: 18px;
    margin: auto;
    text-align: center;
}

.done{
    background-color: gray;
    color: white;

}